.metadata/.plugins/org.eclipse.core.resources/.root/.markers.snap
.metadata/.lock
.metadata/.log
.metadata/.plugins/org.eclipse.core.resources/.projects/Timeshift/.indexes/aa/properties.index
.metadata/.plugins/org.eclipse.core.resources/.projects/Timeshift/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.projects/Timeshift/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/Timeshift/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/Timeshift/org.eclipse.egit.core/GitProjectData.properties
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
.metadata/.plugins/org.eclipse.core.resources/.snap
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.core.resources.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.egit.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.browser.prefs
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.prefs
.metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.ui.prefs
.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
.metadata/version.ini
Timeshift/parse.exe
Timeshift/ParseConsole.exe
.metadata/.plugins/org.eclipse.core.resources/.projects/Timeshift/.indexes/aa/3/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/Timeshift/.indexes/aa/3/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/Timeshift/.indexes/aa/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/Timeshift/.indexes/aa/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/Timeshift/.indexes/aa/3/history.index